@import "../scss/variable";

* {
  margin: 0;
}

.calendar-day {
  margin: 0;
  border: 0.5px solid black;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 7rem;
}

.calendar-day.today {
    border: 2px solid navy;
    background-color: #c7ecee;
}

.calendar-day-number {
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  font-size: 1.2rem;
}

.prev-month-day,
.next-month-day {
  color: gray;
}

p.calendar-day-income,
p.calendar-day-outcome {
  margin: 0.2rem;
  text-align: right;
  font-size: 1rem;
}

