@import "../scss/variable";

* {
  margin: 0;
}

.calendar-day {
  margin: 0;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr auto;
}

.calendar-day.today {
    border: 0.25rem solid $mint-color;
}

.calendar-day-number {
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  font-size: 1.2rem;
}

.prev-month-day,
.next-month-day {
  color: gray;
}

p.calendar-day-income,
p.calendar-day-outcome {
  margin: 0.2rem;
  text-align: right;
  font-size: 1rem;
}

