
.linegraph{
    width:100%;
    height:600px;
}


.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}


.graph {
  height: 500px;
  width: 800px;
}

.graph .grid {
  stroke: black;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.grid-line{
  stroke: black;
  stroke-dasharray: 2;
  stroke-width: 1;
}

.data {
  fill: red;
  stroke-width: 1; 
}

polyline{
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}