* {
    margin: 0;
    padding: 0;
}



.pie-chart-svg {
    // border: 1px solid black;
    width: 100%;
    height: 100%;
    // height: 600px;
    // width: 600px;
}

.target {
    animation: paint 1s ease-in-out;
    animation-fill-mode: forwards;
   
}

circle.기타 {
    stroke: navy;
}

circle.쇼핑\/뷰티 {
    stroke: #0984e3;
}

circle.교통 {
    stroke: #74b9ff;
}

circle.의료\/건강 {
    stroke: seagreen;
}

circle.식비 {
    stroke: #00cec9;
}

circle.생활 {
    stroke: #81ecec;
}

.inner {
    border: none;
}

text.label {
    text-anchor: middle;
    font-size: 4px;
    fill: navy;
}

@keyframes paint {
    from {
        stroke-dasharray: 0 62.83;
    }
}

