.form {
  font-size: $mid-font;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 100%;
  border-radius: 10px;

  &-row {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & input,
    & select,
    & button {
      margin: 10px 0;
      border: none;
      border-bottom: 2px solid darkgray;
    }

    & select {
      width: 150px;
    }

    & button{
        border:1px solid #4cd3c2;
        background:#fff;
        color:#4cd3c2;
        
    }
  }

  &-col {
    margin: 0;
  }

  &-submit-btn{
    margin: 0;
    margin-top: 20px;
    background: #4cd3c2;
    border:none;
    border-radius:0 0 5px 5px;
    height:40px;
  }
}
